@model UserViewModel
@{
    ViewData["Title"] = "Сейлы!";
}


<!DOCTYPE html>

<body>
<div>
    <h3>Welcome to huge sales!</h3>
    <form asp-action="InputPromoCode" asp-controller="StartPage">
        <div class="form-group">
            <h3>Введите промокод</h3>
            <input asp-for="UserId" type="text"/>
        </div>
        @Html.ValidationMessageFor(user => user.UserId)
        <div class="form-group">
            <button asp-action="InputPromoCode" type="submit" value="Submit" class="btn btn-outline-secondary"> Войти </button>
        </div>
    </form>
    <form asp-action="RegisterNewPromoCode" asp-controller="StartPage">
        <div class="form-group">
            <h3>Или получите новый</h3>
            <button asp-action="RegisterNewPromoCode" type="submit" value="Submit" class="btn btn-outline-secondary"> Получить новый </button>
        </div>
    </form>
</div>
</body>